<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/global-styles.css" type="text/css">
    <link rel="stylesheet" href="/assets/navbar.css" type="text/css">

</head>

<body>
    <div class="navbar-container">
        <h1 class="title">Dealership Tom</h1>
        <a href="/" class="nav-link">Dashboard</a>
        <a href="/new_car" class="nav-link">Add car</a>
        <a href="/brands" class="nav-link">Brands</a>
        <% brands.map(brand=>{%>
            <a href="/brands/<%= brand.brandname %>" class="nav-link" style="padding-left: 20%;">
                <%= brand.brandname %>
            </a>
            <% }) %>
    </div>
</body>

</html>