<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inventory</title>
</head>

<body>
    <h1>Add new model</h1>
    <form action="POST">
        <label for="ammount">Model Name:</label>
        <input type="text" name="model" id="model">
        <label for="ammount">Brand Name:</label>
        <select name="cars" id="cars">
            <option value="volvo">Volvo</option>
            <option value="saab">Saab</option>
            <option value="mercedes">Mercedes</option>
            <option value="audi">Audi</option>
        </select>
        <label for="ammount"></label>
        <input type="number" name="ammount" id="ammount">
        <input type="submit" value="Add car">
    </form>

</body>

</html>