.navbar-container {
    display: flex;
    flex-direction: column;
    background-color: #86efac;
    text-align: left;
    justify-content: left;
}

.title {
    padding: 20px;
}

ul {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    caret-color: transparent;
}

.nav-link {
    margin-bottom: 10px;
    font-size: 20px;
    text-decoration: none;
    color: inherit;
    padding: 8px;
}

.brand-link {
    padding-left: 20%;
    width: 80%;
}

.nav-link:hover {
    background-color: #bbf7d0;
}